/*Page style clearing START*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background-color: transparent;
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
}

/*Page style clearing END*/


.background-image {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(2px);
}

.entire-wrap {
    position: relative;
    z-index: 10;
    height: 100% !important;
    overflow: scroll !important;
}

.heading {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
    padding-top: 0px !important;
    margin-bottom: 10px !important;
}

.heading h3 {
    text-align: left;
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
    font-size: 30px !important;
    color: #FFF !important;
}

.login-container {
    background-color: transparent;
    width: 100%;
    height: auto;
}

.login-form {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.login-input {
    width: 100% !important;
    height: 50px;
    background-color: #FFF;
    margin-top: 10px;
    color: #252525;
    opacity: 0.9;
    border-radius: 5px;
}

#cbo_loginAs {
    width: 100%;
}

input::-webkit-input-placeholder {
    color: #252525;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
}

.email-input {
    padding-left: 10px;
    
}

.password-input {
    padding-left: 10px;
    
}

.submit-input {
    color: #FFF;
    background: #b6ee55; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #b6ee55 , #4d7e3b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #b6ee55, #4d7e3b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #b6ee55, #4d7e3b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #b6ee55 , #4d7e3b); /* Standard syntax */
    opacity: 0.8;
    transition: 0.2s;
}

.submit-input:hover {
    cursor: pointer;
    opacity: 1;
}

.extra-actions {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    color: #FFF;
    opacity: 0.7;
    transition: 0.1s;
}

.extra-actions:hover {
    opacity: 0.9;
}










.resetPasswordForm {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

#form1 #txtpwd {
    background-color: #FFF;
    width: 290px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    color: #252525;
    font-weight: 100;
}

#txtcofrmpwd {
    background-color: #FFF;
    width: 290px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    color: #252525;
    font-weight: 100;
}

#btnsubmit {
    background: linear-gradient(to right, #b6ee55 , #4d7e3b); /* Standard syntax */
    width: 300px;
    height: 50px;
    border-radius: 5px;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 400;
    opacity: 0.8;
    transition: 0.2s;
    margin-top: 10px;
}


#btnsubmit:hover {
    opacity: 0.9;
    cursor: pointer;
}




#CompareValidatorPassword {
    font-family: 'Roboto';
    color: red;
    font-weight: 300;
}






.forgotPasswordForm {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.settingsForm {
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
}

.forgotPasswordDropdown {

    background-color: #FFF;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    opacity: 0.9;
}

.forgotPasswordEmail {
    background-color: #FFF;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 10px;
    opacity: 0.9;
}

.forgotPasswordReset {
    background: linear-gradient(to right, #b6ee55 , #4d7e3b); /* Standard syntax */
    width: 100%;
    height: 50px;
    border-radius: 4px;
    color: #FFF;
    opacity: 0.8;
    transition: 0.2s;
}

.forgotPasswordReset:hover {
    cursor: pointer;
    opacity: 0.9;
}

.confirmationText {
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 300;
    opacity: 0.8;
}





#activationMessage {
    color: red;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 300;
}



.profileSettingsTextBox {
    width: calc(100% - 0px);
    height: 30px;
    border-radius: 0px;
    margin-bottom: 10px;
    border-bottom: 1px rgba(255,255,255,0.5) solid;
    color: rgba(255,255,255,0.9);
    opacity: 0.8;
    margin-bottom: 10px;
    font-size: 14px;
}

#GridView1 {
    display: none;
}

.formThings {
    float: left;
    width: 400px;
    background-color: transparent;
    margin-top: 30px;
}

#form-1 {
    background-color: transparent;
    margin-left: calc(40% - 300px);
}

#form-2 {
    background-color: transparent;
    margin-left: 5%;
}





.formThings h3 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    color: greenyellow;
    opacity: 0.8;
    margin-top: 0px;
    margin-left: 0px;
}





#GridView1 {
    background-color: transparent;
    width: 100%;
    margin-bottom: 30px;
}

#GridView1 tbody tr {
    height: 20px;
    text-align: left;
}

#GridView1 tbody tr:not(:first-child) {
    color: #FFF;
}














.imageUploadTexts {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #FFF;
    opacity: 0.9;
    margin-bottom: 20px;
}



#btn_submit  {
    width: 100%;
    max-width: 400px;
    height: 50px;
    background-color: #89b53d;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 3px;
    -webkit-appearance: none;
}

#btn_submitFarm {
    width: 100%;
    max-width: 400px;
    height: 40px;
    background-color: #89b53d;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 50px;
    border-radius: 3px;
    -webkit-appearance: none;
}

#btn_submit:hover {
    opacity: 0.9;
}

#btn_cancel {
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 1px red solid;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 0px;
    z-index: 100;
    margin-bottom: 20px;
    -webkit-appearance: none;
}

#btn_cancel:hover {
    background-color: rgba(255,0,0,0.2);
    color: #FFF;
}






.activationMessageContainer {
    background-color: ActiveCaption;
    text-align: center;
}

.activationMessage {

}





@media screen and (max-width: 1250px) {

    .entire-wrap {

    }

    

    #GridView1 {
        display: none;
    }
    
    .entire-wrap {
        width: 100vw !important;
        height: auto;
        overflow: scroll;
    }

}

@media screen and (max-width: 746px) {

    .body {
        width: 100% !important;
    }

    .formThings {
        width: 400px;
    }
}


@media screen and (max-width: 1050px) {

    .heading {
        height: 50px !important;
    }

    #form-1 {
        position: absolute;
        width: calc(100vw - 340px);
        margin-left: 160px;
        margin-top: 20px;
        background-color: transparent;
        border: 1px rgba(255,255,255,0.4) solid;
        padding: 10px;
        border-radius: 5px;
    }

    #form-2 {
        position: absolute;
        width: calc(100vw - 340px);
        margin-top: 710px;
        margin-left: 160px;
        background-color: transparent;
        border: 1px rgba(255,255,255,0.4) solid;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .heading {
        padding-top: 15px;
        height: 100px;
    }

    .profileSettingsTextBox {
        margin-bottom: 10px;
    }


    #btn_cancel {
        max-width: 400px;
        width: 100%;
        height: 40px;
        border: 1px red solid;
        color: #FFF;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 16px;
        transition: 0.2s;
        cursor: pointer;
        border-radius: 3px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-left: 0px;
        z-index: 100;
        margin-bottom: 20px;
    }
}



@media screen and (max-width: 400px) {

    .heading h3 {
        font-size: 20px;
    }

    #form1 #txtpwd {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    #form1 #txtcofrmpwd {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    #form1 #btnsubmit {
        width: calc(100% - 10px);
        margin-left: 10px;
        margin-right: 10px;
    }
}







@media screen and (max-width: 440px) {
    #btn_cancel {
        width: calc(100% - 40px);
    }
}

input[type="file"] {
    
}




@media screen and (max-width: 740px) {
    #form-1 {
        width: calc(100vw - 43px);
        margin-left: 10px;
    }

    #form-2 {
        width: calc(100vw - 43px);
        margin-left: 10px;
    }

    #btn_cancel {
        max-width: 400px;
        width: 100%;
        height: 40px;
        border: 1px red solid;
        color: #FFF;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 16px;
        transition: 0.2s;
        cursor: pointer;
        border-radius: 3px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-left: 0px;
        z-index: 100;
        margin-bottom: 20px;
    }

}